*{
    margin: 0;
}
body{
    font-family: quicksand;
}

header,main{
    margin: 10px 120px;
}

/* navber style */
.navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:160px;
    margin-top: 25px;
}
.nav-logo{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.scl-name{
    font-size: 2em;
    font-weight: bold;
    color:black;
}
.nav-menu {
    display: flex;
    list-style: none;
    gap:36px;
}
.nav-menu a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
}
.menu-1{
   color:orange ; 
}
.menu-2{
  color: skyblue;
}
.menu-3{
   color:#05D4DF;
}
.menu-4{
   color:#5D58EF;
}

.nav-btn button{
    padding:15px 45px;
    color: white;
    background-color: orange;
    border-radius: 12px;
    border:2px solid orange;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    transition: 0.2s;
    box-shadow: 4px 0px 10px orange;
    cursor: pointer;
    font-family:quicksand ;
}
.nav-btn button:hover{
    opacity:.9 ;
   
}

.bar{
    display:none ;
    color: black;
    font-size: 30px;
    cursor: pointer;

   
}
.hr-line{
    display: none;
    background-color: orange;
    padding: 1px;
    border:none;
}


.marquee-text{
    font-size: 1.3rem;
    font-weight: 600;
    margin-top: 10px;
    border:2px solid skyblue;
    border-radius: 4px;
    padding:5px;
}
.marquee-text span{
    color:red;
}




/* banner style */


.banner-container{
        /* border:2px solid black;  */
        display:flex;
        justify-content: center;
        align-items: center;
        gap:72px;
        margin-top:20px ;
}


.banner-content{
     gap:24px;
} 
.banner-title{
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 24px;
}
.title-1{
    color:orange;
}
.title-2{
    color:skyblue;
}

.banner-description{
    font-size: 1.25rem;
    max-width: 670px;
    margin-bottom: 24px;
    line-height: 30px;
}

.banner-btn{
    font-family:quicksand ;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: black;
    color: white;
    padding:10px 20px;
    border-radius: 12px;
    margin-top: 20px;
}
.banner-btn:hover{
    opacity: 0.8;
}
.banner-img img{
    width: 100%;
}

/* curriculum style */

.curriculum-container{
    margin-top:60px ;
    background-image:url(assets/bg.png) ;
    background-repeat:repeat-y ;
    background-repeat:space;
}

.cur-hading{
    text-align: center;
    font-size: 2.8rem;
    font-weight: bold;
    color:#000000;
    margin-top: 84px;
}

.box-container{
    /* border:2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap:35px;
    margin-top:60px ;
    margin-bottom: 80px;
   padding: 20px;
  

}

.box-1{
    /* border:2px solid rgb(246, 21, 21); */
    border-radius: 19px;
    box-shadow: 3px 6px 10px rgb(181, 180, 180);
    text-align: center;
    max-width: 320px;
    padding:52px 40px;
    background:linear-gradient(#DEF5FF,#FFFFFF) ;
}
.box-bg-2{
    background:linear-gradient(#FFF4DC,#FFFFFF) ;
}


.box-bg-3{
    background:linear-gradient(#F2E8FF,#FFFFFF) ;

}
.box-title{
    font-size: 1.5rem;
    font-weight: bold;
    color:#202020;
    margin-bottom: 32px;
}

.box-description{
    font-size: 1rem;
    font-weight:600 ;
    color:#808080;
    line-height: 28px;
    margin-bottom: 32px;
}

.box-1 a{
   font-size: 1rem; 
   color:skyblue;
   font-weight: bold;
   cursor: pointer;
}
.box-bg-2 a{
    color:#F0AA00 ;
    cursor: pointer;
  
  }

  .box-bg-2 h2{
    margin-top: 11px;
  } 
.box-bg-3 a{
    color:#8700FF;
    cursor: pointer;
}  

.box-1 a:hover{
     color: #000000;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    background-color: #F0AA00;
    font-size:1.2rem ;
}
.left:hover{
    color: #F2E8FF;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    background-color: #F0AA00;
    font-size:1.2rem ;
}
.right:hover{
    color: #F2E8FF;
}
.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 60px;
}

/* story container style */

.story-container{
     /* margin:60px ;  */
     /* background-image: url(assets/bg.png);
     background:linear-gradient(#FFFFFF,#f8d392) ; */
     background-image:url(assets/bg.png) ;
     background-image: linear-gradient(to bottom, #FFFFFF, #f9d79e), 
                   url(assets/bg.png) ;


  background-size: cover; /* Ensures the image covers the entire container */
  background-position: top; /* Centers the image */
  background-repeat: ; /* Avoids repeating the image */


}





.story-title{
    margin-top: 20px;
    text-align: center;
    font-size: 2.8rem;
    font-weight: bold;
}

.story-box-container{
    margin-top: 70px;
}
.story-box-1{
    /* border: 2px solid black; */
    max-width:540px ;
    /* border:none ; */
    border-radius:16px ;
    background-color: #FFFFFF;
}

.story-button{
    margin-top: -30px;
}
.story-box-1 h2{
     font-size: 1.5rem;
     font-weight:bold;
     color: #000000;
     margin: 50px 38px;  
}
.story-box-1 img{
    border: none;
    border-radius: 10px;
    width: 100%;
}

.story-box-1 p{
    font-size: 1rem;
    font-weight: 600;
    color:#666666;
    margin: 25px 38px;
    line-height: 28px;
}
.story-btn{
    margin-left: 38px;
    font-size: medium;
    color:#FFFFFF;
    background-color: #3CD8E8;
    padding: 15px 22px;
    border:none;
    border-radius: 50px;
    font-size: 0.9rem;
    font-family:quicksand ;
   
    
}

.story-box-2{
     /* border:2px solid black; */
     
}
.box-2-child-1{
    /* border:2px solid orange; */
    border-radius: 16px;
    max-width: 290px;
    background-color: #FFFFFF;
}
.box-2-child-1 img{
     width: 100%;
     border-radius: 8px;

}
.child-btn{
    margin-left: 38px;
   
    color: #FFFFFF;
    border-radius: 50px;
    border:none;
    padding: 11px 20px;
    background-color: #95B226;
    font-size: 0.8rem;
    font-weight: medium;

}
.c-btn-2{
    background-color: #5D58F0;
    font-family:quicksand ;
}
.c-btn-3{
     background-color: orange;
     font-family:quicksand ;
}
.c-btn-4{
     background-color: red;
     font-family:quicksand ;
}



.child-content h2{
    font-size: 1rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: 33px;
    margin-left: 37px;
    margin-top: 38px;
}
.child-button{
    margin-top: -23px;
}

.story-box-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 650px;
    gap:19px;
}
.story-box-container{
    display: flex;
    justify-content: center;
    gap:19px;

}
.view-btn{
    font-family:quicksand ;
    background-color: black;
    padding:10px 35px;
    color: white;
    border:none;
    border-radius: 12px;
    font-size: 1rem;
    transition: 0.2s;
    font-weight: 600;
    margin-bottom: 20px;

}

.view-btn:hover{
    background-color: white;
    color: black;
}
.btn-div{
    margin-top: 80px;
    margin-right: 20px;
    padding-bottom: 60px;
    display:flex;
    justify-content: center;

}


/* footer style */

.footer-section{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    padding:80px 150px;
    gap:100px;
    background-color: #01ACFD;
}
.footer-logo{
    margin-left: 20px;
}
.ftr-logo{
    display: flex;
    gap:10px;
}
.ftr-logo img{
    max-height: 82px;
    width: 81px;
    margin-bottom: 35px;
    background-color: white;
    border-radius: 20px;
}

.ftr-logo h1{
    font-size:2rem ;
    color:#FFFFFF;


}
.footer-description{
    font-size: 1rem;
    color:#FFFFFF ;
    line-height: 25px;
}

.footer-about{   
    margin-left: 100px;
}


.footer-about h3{
    color: #FFFFFF;
    margin-bottom: 32px;
    font-size: 1.5rem;
}
.footer-menu{
    list-style: none;
   
}

.footer-menu li{
   
    margin-bottom: 16px;

}
.footer-menu li a{
    font-size: 1.2rem;
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.2s;
}

.footer-menu li a:hover{
    color:#000000;
}

.footer-contact{
    margin-left: 60px;
   
}
.footer-contact h2{
     color:white;
     font-size: 1.5rem;
     margin-bottom: 25px;
}





/* responsive style */

@media screen and (max-width:576px) {
    header,main{
        margin:17px
    } 
    
     .nav-menu,.nav-btn{
        display: none;
     }
     .scl-name{
        font-size: 1.8rem;
     }
     .bar{
        display: block;
        margin-right: 10px;
     }
     .hr-line{
        margin-top: 15px;

        display: block;
     }

    .banner-container{
        flex-direction: column-reverse;
        padding:10px;
    }
    .banner-content{
        text-align: center;
    }
    .banner-title{
        font-size: 2rem;
    }

    .cur-hading{
        font-size: 2rem;
    }


    .box-container{
        flex-direction: column;
        margin-top: 30px;
    }

    .arrow{
        display: none;
    }


    .story-box-container{
        /* margin: 17px; */
        padding:0 20px;
        margin-top: 30px;
    }
    .story-box-container{
        flex-direction: column;
    }

    .story-title{
        font-size: 2rem;
    }

    .story-box-1{
        display: none;
    }

    .story-box-2{
        margin-top:20px ;
        
    }
    

    .btn-div{
        margin-top: 55px;
        margin-left: 20px;
    }
    .child-btn{
        margin-left: 20px;
        padding:8px 15px;
    }


    .footer-section{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .footer-logo,.footer-about,.footer-contact{
        margin: 20px; 
    }
    .footer-section{
        padding:40px 10px;
        gap:30px;
    }

}


